/* --------------------------- */
/* ----- Básico -------------- */
/* --------------------------- */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: all 1s;
}

body {
	overflow-x: hidden;
}

img,
video {
	width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

/* --------------------------- */
/* -------- General ---------- */
/* --------------------------- */

/*body {
	font-family: 'Poppins', sans-serif;
}*/

/*h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Tilt Warp', cursive;
}*/

/* --------------------------- */
/* ---------- Uno ------------ */
/* --------------------------- */
h1 {
	text-align: center;
}
.container {
	height: 200px;
	width: 200px;
	background-color: greenyellow;
	margin-top: 100px;
	margin-left: 310px;
}

.container:hover {
	background-color: hotpink;
	border-radius: 50%;;
}