/* --------------------------- */
/* ----- Básico -------------- */
/* --------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700'); /* Fonts google */

html,
body {
	/*box-sizing: border-box;*/
	padding: 0;
	margin: 0;
	/*transition: all 1s;*/
	font-family: Roboto, Arial;
	font-size: 10px;
	line-height: 3.5em;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Roboto Condensed, Arial;
}

/*body {
	overflow-x: hidden;
}*/

/*img,
video {
	width: 100%;	
}*/

/* ------------------------- */
/* ------- IronHack -------- */
/* ------------------------- */
h1 {
	font-size: 9em;
	text-align: center;
	transform: uppercase;
}

h2 {
	font-size: 5em;
	text-align: center;
	transform: uppercase;
	line-height: 4em;
}

h3 {
	font-size: 4.2em;
	text-align: center;
	line-height: 1em;
}

h4 {
	font-size: 1.5em;
	letter-spacing: 0.4px;
	line-height: 1em;
}

h5 {
	font-size: 1.2em;
	line-height: 1em;
}

/* -------------------------- */
/* ----- Estilo nav --------- */
/* -------------------------- */
.nav-bar {
	background-color: rgb(25, 33, 41);
}

.nav-bar a {
	color: white;
	text-decoration: none;
	font-size: 2em;
}

/* -------------------------- */
/* ----- Estilo header ------ */
/* -------------------------- */
.header {
	background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
}

.header h2 {
	color: white;
	text-shadow: #020819 8px -20px 9px;
}

.quote {
	font-size: 2.5em;
}

/* ------------------------- */
/* ------ Article1 --------- */
/* ------------------------- */
.dark-background {
	background-color: rgb(25, 33, 41);
	color: white;
}

.text {
	font-size: 2em;
	font-weight: 100;
	text-align: center;
}

.link-btn {
	background-color: rgb(67, 163, 230);
	color: white;
	font-family: Roboto Condensed;
	font-size: 2em;
	letter-spacing: 0.5px;
	text-align: center;
	text-decoration: none;
}

/* -------------------------- */
/* ------ Article2 ---------- */
/* -------------------------- */
.service-box {
	font-size: 1.7em;
	text-align: center;
}

.service-box img {
	width: 125px;
}

/* ------------------------- */
/* ------ Article3 --------- */
/* ------------------------- */
 #team .section-text {
	font-size: 1.9em;
	text-align: center;
 }

 #team .member-name {
	font-size: 1.5em;
	font-weight: 700;
 }

 #team img {
	width: 250px;
	height: 180px;
 }

 /* ---------------------- */
 /* ------ Footer -------- */
 /* ---------------------- */

 .address {
	font-style: normal;
	font-size: 0.8em;
 }

 .footer {
	text-align: center;
	font-size: 1.9em;
 }

 .footer a {
	color: rgb(67, 163, 230);
	text-decoration: none;
 }

 .footer article ul {
	list-style: none;
 }